h1 {
  text-align: center;
}

main select {
  padding: 20px;
  font-size: 15px;
  background-color: rgb(62, 146, 62);
  border-radius: 10px;
  height: 60px;
}

h2 {
  text-align: center;
  background-color: rgb(7, 7, 56);
  color: azure;
  height: 30px;
}

#tiles {
  margin: 20px;
}
